.des_container {
    background-color: #121212;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 40px 90px;
    font-family: Arial, sans-serif;
}

.support_conatiner {
    display: flex;
    gap: 80px;
}

.support {
    display: flex;
    flex-direction: column;
}

.support_title h2 {
    font-size: 20px;
    margin-bottom: 15px;
}

ul {
    list-style: none;
    padding: 0;
}

ul a {
    text-decoration: none;
    color: white;
    font-size: 16px;
}

ul a:hover {
    text-decoration: underline;
}

.contact {
    display: flex;
    gap: 80px;
}

.contact_conatiner {
    display: flex;
    flex-direction: column;
}

.contact_conatiner_title {
    font-size: 20px;
    margin-bottom: 15px;
}

.contact_list{
    display: flex;
    gap: 15px;
}

.contact_list img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #222;
    padding: 8px;
    transition: 0.3s ease-in-out;
}
.contact_list_1{
    display: flex;
    gap: 15px;
}
.contact_list_1 img{
    border: 1px solid rgb(11, 9, 9);
    width: 150px;
    height: 50px;
}

.contact_list img:hover{
    background-color: #333;
}

.finalconatiner {
    background-color: #121212;
    text-align: center;
    padding: 20px 0;
    border-top: 1px solid #333;
}

.finalconatiner_1 p {
    color: #bbb;
    font-size: 14px;
}

